@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}

* {
font-family: 'Montserrat', sans-serif;
}

.navbar {
/* background-color: rgb(255, 217, 0); */
height: auto;
}

.nav-logo {
max-height: 40px;
mix-blend-mode: multiply;
}

.nav-links{
/* background-color: aqua; */
display: flex;
width: 250px;
justify-content: space-around;
}


.test-container {
/* background-color: rgb(0, 255, 200); */
display: flex;
}

.proj-list-left {
background-color:lightgray;
display: flex;
flex-direction: column;
align-items: center;
max-width: 275px;
min-width: fit-content;
height: 100dvh;
position: relative;
padding: 8px;
border-top-right-radius: 10px;
/* margin: 2px; */
/* left: 0; */
}

.proj-btn {
display: inline;
width: 100%;
max-width: 250px;
height: 30px;
margin-top: 4px;
border-radius: 15px;
/* border-color: rgb(67, 205, 243); */
background-color: white;
}

.proj-list-right {
/* background-color:coral; */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
}

.proj-disp-container {
background-color: lightgrey;
display: flex;
flex-direction: column;
max-width: 800px;
border-radius: 25px;
padding-left: 30px;
padding-right: 30px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
margin: 10px;
}

.site-map img {
display: flex;
max-height: 500px;
max-width: 100%;
object-fit: cover;
border: solid;
border-width: 1px;
border-radius: 25px;
/* border-color: rgb(67, 205, 243); */
margin: 5px;
}

.close-btn {
cursor: pointer;
letter-spacing: 1px;
}

.proj-gen-info {
/* background-color: red; */
display: flex;
flex-direction: column;
text-align: left;
padding-top: 10px;
font-size: large;
}

.proj-gen-info span {
margin-right: 4px;
font-weight: 500;
text-decoration: underline;
}

.proj-navbar {
background-color:aliceblue;
width: 250px;
position: absolute;
height: 92vh;
left: 0;
bottom: 0;
border: solid;
border-width: 0.125px;
border-color: rgb(161, 161, 161);
border-left: none;
}

.proj-tabs {
transform: rotate(90deg);
display: flex;
position: absolute;
left: 95px;
top: 11em;
/* background-color: blue; */
height: auto;
justify-content: space-between;
width: 335px;
}

.tab {
background-color: rgb(186, 224, 232);
width: 65px;
text-align: center;
border: solid;
border-width: .125px;
border-color: rgb(161, 161, 161);
cursor: pointer;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
border-bottom: none;
}

.active-tab {
background-color:aliceblue;
}

.none-active-tab {
background-color: rgb(186, 224, 232);
}

.equip-cat {
margin: 50px;
}